table {
    width: 40%;
    border-collapse: collapse;
    border: 2px solid black;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

tr {
    background-color: rgb(255, 255, 255);
}

th {
    background-color: lightgray;
}

.sections-container {
    width: 90%;
    padding: 20px;
    border: 3px;
    background: #eeeeee;
    border-radius: 10px;
}
